
# Steps for testing connection from phusion:
# winpty docker exec -it phusion bash

# 1. Test: native key to apptest:
# ssh -i /etc/ssh/ssh_host_rsa_key root@apptest

# 2. Test: native key to sge:
# ssh -i /etc/ssh/ssh_host_rsa_key sgeuser@sge

# 3. Test: calcium to sge-server:
# ssh -i /service/ssh/id_rsa_dev sgeuser@sge-server

####################################################
# check local SSH connection:
# ssh -i key/id_rsa root@localhost -p 2222


services:

  phusion:
    build:
      context: ./image
    image: phusionimg
    container_name: phusion
    volumes:
      - shared-data:/shared
      - ./keys:/service/ssh/
    command: /bin/bash -c "
      cp /etc/ssh/ssh_host_rsa_key.pub /shared/id_rsa.pub && \
      /usr/sbin/sshd -D"


  apptest:
    image: phusionimg
    depends_on:
      - phusion
    container_name: apptest
    ports:
      - "2222:22"
    volumes:
      - shared-data:/shared
    command: /bin/bash -c "
      cat /shared/id_rsa.pub >> /root/.ssh/authorized_keys && \
      /usr/sbin/sshd -D"


  sge:
    image: diixo/sge-base:latest
    pull_policy: always
    container_name: sge
    stdin_open: true
    tty: true
    volumes:
      - shared-data:/shared
    command: /bin/bash -c "
      mkdir -p /home/sgeuser/.ssh && \
      touch /home/sgeuser/.ssh/authorized_keys && \
      cat /shared/id_rsa.pub >> /home/sgeuser/.ssh/authorized_keys && \
      /usr/sbin/sshd -D"


  sge-server:
    image: diixo/sge-ssh:latest
    pull_policy: always
    hostname: sge-server
    container_name: sge-server
    stdin_open: true
    tty: true
    command: /bin/bash -c "/usr/sbin/sshd -D"


volumes:
  shared-data:
